POSTGRES_DB=cdms_db
POSTGRES_USER=cdms_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
ALLOWED_HOSTS=127.0.0.1,localhost,web
CDMS_WEBHOOK_URL=http://127.0.0.1:8000/api/v1/webhooks/products
CDMS_INVENTORY_PRODUCTS_URL=http://127.0.0.1:8000/api/v1/Products
CDMS_SCHEDULE_INTERVAL_SECONDS=60
